.accordion-containerr {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 120px 0px;
}

.accordion-containerr h1 {
    color: rgba(25, 25, 28, 1);
    font-size: 40px;
    font-weight: 700;
    border-bottom: 1px solid rgba(25, 25, 28, 1) !important;
    padding-bottom: 20px;
}

.accordion-i {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid rgba(25, 25, 28, 1) !important;
}

.accordion-headerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background-color: #ffffff;
    height: 90px;
}

.accordion-headerr:hover {
    background-color: rgba(222, 239, 228, 1);
}

.icon {
    font-size: 30px;
}

@media (max-width: 1000px) {
    .accordion-containerr {
        width: 100%;
        padding: 15px;
    }
}

@media (max-width: 635px) {
    .accordion-headerr {
        padding: 10px;
    }
    .accordion-i {
        width: 100%;
        font-size: 12px;
        font-weight: 700;
        border-bottom: 1px solid rgba(25, 25, 28, 1) !important;
        height: 80px;
        margin: 20px 0px !important;
    }
    .icon {
        font-size: 13px !important;
    }
}