.process h2 {
  font-size: 50px;
  font-weight: 700;
  color: #19191c;
}

.mainTitle {
  margin-right: 80px;
  line-height: 50px;
}

.step h2 {
  position: relative;
}

.step h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: #19191c;
  margin-top: 15px;
  position: absolute;
  margin-bottom: 10px;
}

.process {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 200px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.step {
  display: flex;
  flex-direction: column;
}

.step h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.step p {
  font-size: 14px;
  color: #6d6d77;
  width: 82%;
  margin-top: 10px;
}

@media (max-width: 1330px) {
  .mainTitle {
    text-align: center;
  }
}

@media (max-width: 1150px) {
  .process {
    padding: 50px 100px;
  }

  .steps {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .step {
    margin-bottom: 20px;
  }

  .step:last-child {
    margin-bottom: 0;
  }
  .mainTitle {
    text-align: center;
    padding-top: 30%;
  }
}

@media (max-width: 768px) {
  .process {
    padding: 50px 50px;
    flex-wrap: wrap;
  }
  .mainTitle {
    padding-top: 0;
    margin-bottom: 40px;
  }
  .steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 550px) {
  .process {
    padding: 50px 50px;
    flex-wrap: wrap;
  }
  .steps {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .step {
    margin-bottom: 10px;
  }

  .process h2 {
    font-size: 40px;
  }

  .step h2 {
    text-align: center;
  }
  .step h2::after {
    width: 100%;
  }
  .step p {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .process h2 {
    font-size: 30px;
  }

  .step {
    margin-bottom: 5px;
  }
}
