.DJ-designer {
    padding: 100px 200px;
}

.DJ-designer .DJ-title h2{
    max-width: 300px;
    font-family: Inter;
    font-weight: 700;
}

.DJ-designer .DJ-title p {
    max-width: 400px;
    margin-top: 15px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    color: #6D6D77;
}

.DJ-designer .DJ-title span {
    display: block;
    margin-top: -15px;
    font-family: Inter;
    font-size: 14px;
}

.DJ-designer .DJ-title .DJ-positionDetails {
    max-width: 250px;
}

.DJ-designer .DJ-title .DJ-positionDetails .DJ-detailTitle {
    width: 180px;
    padding: 15px 0;
    border-bottom: 3px solid black;
}

.DJ-designer .DJ-cardItem:hover {
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
}

.DJ-designer .DJ-cardItem h3 {
    font-family: Inter;
    font-weight: 700;
    padding: 15px 0;
    border-bottom: 3px solid black;
}

.DJ-designer .DJ-cardItem p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    margin: 15px 0 0;
}

.DJ-designer .DJ-blue {
    background-color: #DEEFE4;
}

.DJ-designer .DJ-yellow {
    background-color: #F3F3D7;
}

.DJ-designer .DJ-purple {
    background-color: #EFDEEE;
}

@media screen and (max-width: 1200px) {
    .DJ-designer {
        padding: 50px;
    }
}

@media screen and (min-width: 992px) {
    .DJ-designer .DJ-yellow {
        transform: translateY(50px);
    }
}