    .c-question {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
        padding: 100px 200px !important;
        background-color: rgba(222, 239, 228, 1) !important;
    }
    
    .co-question {
        width: 50% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-end !important;
        justify-content: center !important;
        position: relative !important;
    }
    
    .co-question .svg4 {
        width: 120px !important;
        position: absolute !important;
        right: 30px !important;
        bottom: 45px !important;
    }
    /* 
.content-question .svg4 {
    position: absolute !important;
} */
    
    .co-question h2 {
        font-size: 55px !important;
        font-weight: 700 !important;
        margin-bottom: 10px !important;
        width: 600px !important;
    }
    
    .co-question p {
        font-size: 20px !important;
        margin-bottom: 20px !important;
        width: 600px !important;
    }
    
    .form-question {
        display: flex !important;
        flex-direction: column !important;
        width: 50% !important;
        /* padding-left: 190px !important; */
    }
    
    .form-question input {
        max-width: 100%!important;
        padding: 20px 0px !important;
        margin-bottom: 10px !important;
        border: none !important;
        outline: none !important;
        background-color: rgba(222, 239, 228, 1) !important;
        border-bottom: 2px solid black !important;
        font-size: 20px !important;
    }
    
    .form-question button {
        padding: 10px !important;
        background-color: #000 !important;
        color: #fff !important;
        border: none !important;
        cursor: pointer !important;
        width: 170px !important;
        margin-top: 20px !important;
        font-size: 20px !important;
        transition: 0.3s !important;
        box-shadow: 0px 0px 5px #555555 !important;
    }
    
    .form-question button:hover {
        cursor: pointer !important;
        scale: 1.04 !important;
    }
    
    @media (max-width: 1560px) {
        .co-question h2 {
            font-size: 30px !important;
            width: 80% !important;
        }
        .co-question p {
            width: 80% !important;
        }
        .co-question {
            padding-right: 150px !important;
        }
        .form-question input {
            width: 100 !important;
        }
        .c-question {
            padding: 50px;
        }
    }
    
    @media (max-width: 1359px) {
        .svg4 {
            width: 120px !important;
            position: absolute !important;
            right: -120px !important;
        }
        .co-question {
            padding-right: 100px !important;
        }
    }
    
    @media (max-width: 1029px) {
        .c-question {
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            padding: 70px 50px !important;
            width: 100%;
        }
        .co-question {
            width: 100% !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: center !important;
            padding-left: 0px !important;
        }
        .form-question {
            display: flex !important;
            flex-direction: column !important;
            align-items: flex-start !important;
            width: 100% !important;
            padding-left: 0px !important;
        }
        .form-question input {
            width: 70%;
        }
        .co-question .svg4 {
            display: none !important;
        }
        .co-question h2 {
            font-size: 30px !important;
            width: 100% !important;
            text-align: start;
        }
    }
    
    @media (max-width: 490px) {
        .co-question h2 {
            font-size: 20px !important;
            font-weight: 700 !important;
            margin-bottom: 10px !important;
            width: 100% !important;
        }
        .co-question {
            padding-right: 10px !important;
        }
    }