    .accor-container {
        padding: 100px 200px;
        margin: auto;
    }
    
    .accor-item {
        border-bottom: 1px solid #000000;
    }
    
    .h {
        font-size: 40px;
        color: #000000;
        font-weight: bold;
        border-bottom: 1px solid #000000 !important;
        margin-bottom: 3px;
        padding-bottom: 30px;
    }
    
    .accor-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        cursor: pointer;
        background-color: #ffffff;
        transition: 0.3s ease;
        border-bottom: 1px solid #000000 !important;
        height: 90px;
    }
    
    .accor-header:hover {
        background-color: #e0e0e0;
    }
    
    .accor-month {
        font-size: 18px;
        width: 100px;
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        text-align: center;
    }
    
    .accor-title {
        padding-left: 1em;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
    }
    
    .accor-icon {
        font-size: 1.8em;
        font-weight: bold;
    }
    
    .accor-body {
        padding: 2em;
        background-color: #ffffff;
        font-size: 20px;
        height: 50px;
    }
    
    @media (max-width:900px) {
        .accor-container {
            width: 100%;
            padding: 50px;
        }
    }
    
    @media (max-width:780px) {
        .accor-icon {
            font-size: 1.4em;
            font-weight: bold;
        }
        .accor-body {
            padding: 1em 1em 3em 1em;
            background-color: #ffffff;
            font-size: 13px;
            height: 45px;
        }
    }
    
    @media (max-width:500px) {
        .accor-title {
            font-size: 12px;
        }
        .accor-month {
            width: 70px;
            font-size: 10px;
        }
    }
    
    @media (max-width:350px) {
        .accor-body {
            padding: 0em 2em 5em 2em;
            background-color: #ffffff;
            font-size: 13px;
            height: 55px;
        }
        .accor-header {
            padding: 0em 1em;
            height: 100px;
            width: 100%;
        }
        .accor-container {
            width: 100%;
            padding: 20px;
        }
    }